{
  "extends": [
    "plugin:team-vals/recommended",
    "plugin:team-vals/react",
    "plugin:team-vals/prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "ignorePatterns": ["gatsby-config.js"]
}
